.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    &__start-screen {
        opacity: 0;
        animation: fadeIn 1s ease forwards;
    }
    &__greetings {
        text-align: center;
        line-height: 1.6;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
