.input {
    position: relative;
    &__icon {
        position: absolute;
        line-height: 1;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    & input {
        display: block;
        width: 100%;
    }
}
.input + .input {
    margin-top: 8px;
}
